@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Exo:ital,wght@0,400;1,100;1,400;1,700&family=Quicksand:wght@400;700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;1,100;1,400;1,700&family=Merienda:wght@300;400;500;600;700;800;900&family=Quicksand:wght@400;700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root{
  --rich-black: #0e0f19ff;
  --eerie-black: #1f1f1eff;
  --chinese-violet: #8e6c88ff;
  --darker-chinese-violet: #74586fff;; 
  --brilliant-rose: #ff47a9ff;
  --seasalt: #f7f9f9ff;
}

body{
  margin:0;
  padding:0;
  background: linear-gradient(0.25turn, var(--eerie-black), var(--darker-chinese-violet), var(--eerie-black))
}

*{
  margin: 0; 
  padding:0; 
}

.nav{
  background-color: var(--rich-black); 
  display: flex;
  width: 100%;
  height: 5vmax;
  position: fixed; 
  top:0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--brilliant-rose) 0px 0px 10px, var(--brilliant-rose) 0px 0px 20px;
}

.nav-text{
  color: var(--brilliant-rose); 
  font-size: 4vmax; 
  font-family: 'Cookie', cursive;
  text-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 20px;
}

.logo{
  margin-left: 1vmax;
  width: 4vmax; 
}

.back-to-top{
  opacity: 0;
  margin-right: 1vmax; 
  width: 3vmax;
  height:3vmax; 
  font-size:2vmax;
  background-color: var(--seasalt);
  border:none;
  border-radius: 0.5vmax;
  color: var(--rich-black); 
  box-shadow: var(--brilliant-rose) 0px 0px 10px, var(--brilliant-rose) 0px 0px 20px;
}

.opac{
  opacity: 100; 
}

.no-opac{
  opacity: 0;
}

.footer{
  background-color: var(--rich-black); /*temp*/
  width: 100%;
  height: 6vmax; /*12 with contacts*/
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

.footer-text{
  margin-top:1vmax;
  font-size:1.5vmax;
  color:var(--seasalt); 
}

.insta-logo{
  width:2vmax; 
  vertical-align: middle;
  margin-right: 0.5vmax; 
}

.footer-insta{
  color:var(--seasalt);
  font-size:1.5vmax;
  margin-top:1vmax;   
}

.footer-git{
  color:darkslategrey; 
  font-size:1vmax; 
  margin-top:2vmax; 
}

.git-logo{
  width: 2vmax; 
  vertical-align: middle;
  margin-right: 0.5vmax;
}

.namepage-content, .handle-button, .future-content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.namepage-title{
  margin-top:12vmax;
  margin-bottom:4vmax; 
  font-size:6vmax;
  text-align: center; 
  color: var(--rich-black);
  font-family: 'Nunito', sans-serif;
  max-width: 90%;
  text-shadow: var(--chinese-violet) 0px 0px 5px, var(--chinese-violet) 0px 0px 5px;
}

.namepage-typewriter{
  color: var(--brilliant-rose); 
  font-size: 8vmax; 
  font-family: 'Cookie', cursive;
  text-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 20px;
}

.namepage-pfp{
  width:30vmax;
  height:30vmax; 
  border-radius: 100%; 
  margin-bottom:4vmax; 
  box-shadow: var(--chinese-violet) 0px 0px 20px, var(--chinese-violet) 0px 0px 20px;
}

.namepage-text-container{
  width: 50vmax;
  max-width: 80%;
  font-size:2vmax;
  padding:1vmax; 
  border-radius: 1vmax; 
  background-color: var(--seasalt);
  font-family: 'Nunito', sans-serif;
  color: var(--rich-black);
  box-shadow: var(--chinese-violet) 0px 0px 20px, var(--chinese-violet) 0px 0px 20px;
}

.newpage-button{
  display:none; 
  width: 15vmax;
  height:4vmax; 
  font-family: 'Nunito', sans-serif;
  font-size: 1.5vmax;
  font-weight: bold;  
  background-color: var(--seasalt);
  border:none;
  border-radius: 0.5vmax;
  color: var(--rich-black); 
  box-shadow: var(--brilliant-rose) 0px 0px 10px, var(--brilliant-rose) 0px 0px 20px;
  opacity: 50%;
  animation: blinking 1s infinite;
}

@keyframes blinking{
  0%{
    opacity: 50%;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 50%;
  }
}

.display{
  display:initial; 
}

.experience-content{
  width: 100%;
  height: 95vh;
  display: grid;
  grid-template-columns: 10vmax auto;
}

.timeline{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:8vh; 
  color: var(--brilliant-rose);
  font-family: 'Cookie', cursive;
  text-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 20px;
}

.timeline > hr{
  border: solid var(--brilliant-rose) 3px;
  height: 80vmax;
  box-shadow: var(--brilliant-rose) 0px 0px 3px, var(--brilliant-rose) 0px 0px 3px;
}

.timeline > p{
  font-size:4vmax;
  margin:0;
}

.experience-job-containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top:5vmax; 
}

.job-container{
  color: var(--rich-black);
  width: 45vmax; 
  height: 20vmax; 
  background-color: var(--seasalt);
  border-radius: 1vmax; 
  box-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 10px;
  font-family: 'Nunito', sans-serif;
  opacity: 0;
}

.job-container > p{
  padding-left: 1vmax;
  padding-bottom: 0.4vmax;  
}

.job-loc{ 
  font-size:2vmax;
  padding-top:0.3vmax; 
  animation-duration: 3s;
  font-weight: bold; 
}

.job-title{
  font-size:1.6vmax; 
  font-style: italic; 
}

.job-duration{
  font-size:1.4vmax; 
}

.job-desc{
  padding-top:0.5vmax; 
  padding-right: 0.5vmax; 
  font-size:1.2vmax; 
}

.fade-in{
  animation: fadeIn 5s 1; 
  opacity: 100%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.future-content{
  justify-content: space-around;
  align-items: center;
  padding-top: 3vh; 
}

.skillset-thumbnail, .education-thumbnail, .location-thumbnail{
  width: 30vmax; 
  padding: 1vmax;
  border-radius: 1.5vmax;
  background-color: var(--seasalt);
  box-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 10px;
  opacity: 0;
  max-height: 20vmax; 
}

.skillset-content, .education-content, .location-content{
  width: 50vmax; 
  background-color: var(--seasalt);
  height: 20vmax; 
  border-radius: 1.5vmax;
  box-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 10px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-content{
  background-image: url("../public/colo2.jpg");
}

.education-content{
  background-image: url("../public/houston-skyline.jpg");
  background-position: 0%;
}

.skillset-content{
  background-image: url("../public/management2.jpg");
}

.skillset-text, .education-text, .location-text{
  width: 80%; 
  height: 80%; 
  backdrop-filter: blur(100px);
  border-radius: 1.5vmax;
  filter: brightness(150%); 
}

.skillset-text > p, .education-text > p, .location-text > p{
  font-family: 'Nunito', sans-serif;
  font-size: 1.2vmax;
  padding: 0.5vmax;  
}

.skillset-text > hr, .education-text > hr, .location-text > hr{
  border: solid var(--brilliant-rose) 1px;
  box-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 20px;
}

.skillset-text > h1, .education-text > h1, .location-text > h1{
  text-align: center;
  padding: 0.25vmax; 
  font-family: 'Cookie', sans-serif;
  color: var(--brilliant-rose); 
  text-shadow: var(--chinese-violet) 0px 0px 10px, var(--chinese-violet) 0px 0px 20px;
  font-size: 3vmax; 
  filter: brightness(125%); 
}

.blinking{
  animation: blinking 1s infinite; 
}

#button-padding{
  margin-top: 5vmax; 
}

@media only screen and (orientation: landscape) {
  .namepage-title{
    font-size:8vmin;
    margin-top: 10vmin;  
    margin-bottom: 2vmin; 
  }
  .namepage-typewriter{
    font-size: 8vmin;
  }
  .namepage-pfp{
    margin-bottom: 2vmin; 
    width: 35vmin; 
    height: 35vmin;
  }
  .namepage-text-container{
    max-height: 20vmin;
    font-size: 2.5vmin;  
  }
  #button-padding{
    margin-top:2vmin; 
  }
  .namepage-content{
    justify-content: center;
  }

  .timeline{
    padding-top: 12vmin; 
  }

  .timeline > hr{
    height: 70vmin; 
  }

  .timeline > p{
    font-size: 5vmin; 
  }

  .job-container{
    width: 80%;
    height: 30%; 
    max-height: fit-content;  
  }

  .job-title{
    font-size: 2vmin; 
  }

  .job-loc{
    font-size: 3vmin; 
  }

  .job-duration{
    font-size: 2vmin; 
  }

  .job-desc{
    font-size: 1.8vmin; 
  }

  .job-container > p{
    padding-bottom: 0.2vmin; 
  }

  .skillset-thumbnail, .education-thumbnail, .location-thumbnail{
    width: 30vmin; 
    margin: 5vmin; 
  }
  .future-content{
    justify-content: center;
    padding-top: 5vh; 
  }

  .skillset-content, .education-content, .location-content{
    height: 25%;
    width: 60%; 
    margin: 2vmin; 
  }

  .skillset-text > h1, .education-text > h1, .location-text > h1{
    font-size: 4vmin; 
  }

  .skillset-text > p, .education-text > p, .location-text > p{
    font-size: 1.8vmin; 
  }

  .location-content{
    background-position: 100%;
  }
}